<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<h1>About Us</h1>
<h4>The motive behind using a strong is to keep it unguessable or un-discoverable.
A password is used only by the password keeper, and it is up to him whether he wishes to share it with
    others or want to keep it to himself. The reason why passwords exist is to keep your personal data
    from being explored by strangers, whenever we sign-up for an account online; the first step it goes for
    is the verification. This confirmation step includes human validation that a person is creating an account,
    not a bot and amongst these steps, the websites require secure, hard passwords.
<br>
We, usually keep passwords which are diminishing and are easy to remember. Such passwords include your contact number,
    date of birth, company name, pet name, school name and everything related to your lifestyle. We prefer keeping
    short passwords with single case letters which weakens the case, and if your account contains data that is
    valuable to you, then you’d never go for such an option, you will always need a password with good strength.
<br>
No doubt, if you have more than one accounts, it is difficult to memorize passwords but you can keep all of them
    safe in a single file, and all you need to remember is just one unique password to that file. It will give you
    access to all your other accounts, but try not to forget this one because you may get in big trouble.</h4>

<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
